body{
   background:url(rec1.jpg) no-repeat;
}


.Text{
    text-align: center;
    font-family: "Tahoma";
}



#ContinueButton{
    border: 1px solid black;
    border-radius: 10px;
    height: 23px;
    width: 170px;
    font-family: "Tahoma";
    font-size: 14px;
}

#ExitButton{
    border: 1px solid black;
    border-radius: 10px;
    height: 23px;
    width: 100px;
    font-family: "Tahoma";
    font-size: 14px;
    margin-left: 20px;
}

#Reserve{
line-height: 20px;
    border: 2px solid black;
    border-radius: 12px;
    background-color: #632700;
    margin-left: 32%;
    width: 36%;
    margin-top: 10%;
    height: 40%;
    box-shadow: 3px 4px 10px;
}


#Congrats{
    font-size: 30px;
}
#Description{
    font-size: 20px;
}